<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda está disponivel para você entregar:</p>
<strong>Produto: </strong>{{ product }}.<br /><br />
<strong>Detalhes do Destinatário: </strong>
<p>
  <strong>Nome: </strong>{{ recipientName }}.<br />
  <strong>Endereço: </strong>{{ recipientStreet }}.<br />
  <strong>Número: </strong>{{ recipientNumber }}.<br />
  <strong>Cidade: </strong>{{ recipientCity }}.<br />
  <strong>Estado: </strong>{{ recipientState }}.<br />
  <strong>CEP: </strong>{{ recipientZipCode }}.<br />
  
  <strong>Complemento: </strong>{{ recipientComplement }}.
  <br />
</p>

